{
    "swagger": "2.0",
    "info": {
        "description": "Challange Chapter 8",
        "version": "1.0.0",
        "title": "Binar Challenge Chapter 8",
        "contact": {
            "email": "rinaldideveloper@gmail.com"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        }
    },
    "host": "binarch8.casey.com",
    "basePath": "/v2",
    "tags": [{
        "name": "binar",
        "description": "Chapter 8 Challenge about API",
        "externalDocs": {
            "description": "Find out more",
            "url": "swagger.io"
        }
    }],
    "schemes": [
        "https",
        "http"
    ],
    "paths": {
        "/players": {
            "post": {
                "tags": [
                    "player"
                ],
                "summary": "Add new player",
                "description": "",
                "OperationId": "addPlayer",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "produces": [
                    "application/xml",
                    "application/json"
                ],
                "parameters": [{
                    "in": "body",
                    "name": "body",
                    "description": "",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/Player"
                    }
                }],
                "responses": {
                    "201": {
                        "description": "Success creating new player",
                        "result": "SUCCESS"
                    },
                    "400": {
                        "description": "username or email or password field cannot be empty.",
                        "result": "FAILED"
                    },
                    "500": {
                        "description": "Some error occurred while creating the Player.",
                        "result": "FAILED"
                    }
                },
                "security": [{
                    "basePath": "/api"
                }]
            },
            "get": {
                "tags": [
                    "player"
                ],
                "summary": "Find all existing player",
                "description": "",
                "OperationId": "findAllPlayer",
                "consumes": [
                    "application/json",
                    "application/xml"
                ],
                "produces": [
                    "application/xml",
                    "application/json"
                ],
                "parameters": [{
                    "in": "body",
                    "name": "body",
                    "description": "",
                    "required": true,
                    "schema": {
                        "$ref": "#/definitions/Player"
                    }
                }],
                "responses": {
                    "200": {
                        "description": "Success retrieving all players",
                        "result": "SUCCESS"
                    },
                    "500": {
                        "description": "Some error occurred while retrieving players.",
                        "result": "FAILED"
                    }
                }
            }
        },
        "players/:id": {
            "get": {
                "tags": [
                    "player"
                ],
                "summary": "Finds Player by ID",
                "description": "",
                "operationId": "findPlayerById",
                "produces": [
                    "application/xml",
                    "application/json"
                ],
                "parameters": [{
                    "name": "id",
                    "in": "query",
                    "description": "ID of the player",
                    "required": true,
                    "type": "integer"
                }],
                "responses": {
                    "200": {
                        "description": "Success finding player by id",
                        "result": "SUCCESS"
                    },
                    "500": {
                        "description": "Error retrieving Player with id",
                        "result": "FAILED"
                    }
                }
            },
            "put": {
                "tags": [
                    "player"
                ],
                "summary": "Update Player",
                "description": "",
                "operationId": "updatePlayer",
                "produces": [
                    "application/xml",
                    "application/json"
                ],
                "parameters": [{
                    "name": "id",
                    "in": "query",
                    "description": "ID of the player",
                    "required": true,
                    "type": "integer"
                }],
                "responses": {
                    "200": {
                        "description": "Success updating player",
                        "result": "SUCCESS"
                    },
                    "400": {
                        "description": "Cannot update Player, Maybe Player was not found or req.body is empty!",
                        "result": "FAILED"
                    },
                    "500": {
                        "description": "Error updating player",
                        "result": "FAILED"
                    }
                }
            },
            "delete": {
                "tags": [
                    "player"
                ],
                "summary": "Delete Player by ID",
                "description": "",
                "operationId": "deletePlayerById",
                "produces": [
                    "application/xml",
                    "application/json"
                ],
                "parameters": [{
                    "name": "id",
                    "in": "query",
                    "description": "ID of the player",
                    "required": true,
                    "type": "integer"
                }],
                "responses": {
                    "200": {
                        "description": "Success deleting player",
                        "result": "SUCCESS"
                    },
                    "400": {
                        "description": "Cannot delete player",
                        "result": "FAILED"
                    },
                    "500": {
                        "description": "Error deleting player",
                        "result": "FAILED"
                    }
                }
            }
        },
        "players/exp/id": {
            "post": {
                "tags": [
                    "player"
                ],
                "summary": "Updating Players Exp",
                "description": "",
                "operationId": "updatePlayerExp",
                "produces": [
                    "application/xml",
                    "application/json"
                ],
                "parameters": [{
                    "name": "id",
                    "in": "query",
                    "description": "EXP of the player",
                    "required": true,
                    "type": "integer"
                }],
                "responses": {
                    "200": {
                        "description": "Success updating player exp",
                        "result": "SUCCESS"
                    },
                    "400": {
                        "description": "Cannot update player exp",
                        "result": "FAILED"
                    },
                    "500": {
                        "description": "Error updating player exp",
                        "result": "FAILED"
                    }
                }
            }
        }
    },
    "definitions": {
        "Player": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "integer",
                    "format": "int64"
                },
                "username" :{
                    "type": "string"
                },
                "email": {
                    "type": "string"
                },
                "password": {
                    "type": "string"
                },
                "experience": {
                    "type": "integer",
                    "format": "int64"
                },
                "lvl": {
                    "type": "integer",
                    "format": "int64"
                }
            }
        }
    }
}